.about-parent {
  padding: 50px 0px;
  background: var(--white);

  .about-cont {
    display: flex;
    align-items: stretch;
    justify-content: center;
    gap: 20px;

    .left {
      width: 50%;
      padding: 10px;
      display: flex;
      flex-direction: column;
      gap: 20px;

      h3 {
        color: var(--blue);
      }

      p {
        color: rgba(12, 12, 12, 0.749);
      }
    }

    .right {
      width: 50%;
      padding: 10px;
      background: url("../../assets/about.jpg");
      border-radius: 8px;
      aspect-ratio: 3/1.8;
    }
  }
}

@media (max-width: 1000px) {
  .about-parent {
    .about-cont {
      flex-direction: column-reverse;
      .left {
        width: 100%;
        gap: 10px;

        p {
          text-align: center;
        }
      }

      .right {
        width: 100%;
      }
    }
  }
}

.owner-parent {
  padding: 50px 0px;
  background: linear-gradient(
      rgba(177, 177, 177, 0.314),
      rgba(177, 177, 177, 0.314)
    ),
    url("../../assets/bg.webp");
  width: 100%;

  .owner-cont {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: center;

    .box-wrapper {
      background: var(--blue);
      border-radius: calc(var(--unit) * 1);
      display: flex;
      height: auto;
      justify-content: space-between;
      margin-top: calc(var(--unit) * 2);
      padding: calc(var(--unit) * 1);
      width: 900px;
      gap: 20px;

      .left {
        display: flex;
        gap: 20px;
        flex-direction: column;
        width: 70%;

        h3 {
          font-size: 30px;
          color: var(--green);
        }

        .button {
          align-items: center;
          background: #0077b5;
          border-radius: calc(var(--unit) / 4);
          color: var(--white);
          display: flex;
          font-size: 1.2rem;
          gap: calc(var(--unit) / 2);
          margin-top: calc(var(--unit) / 2);
          padding: calc(var(--unit) / 2);
          width: fit-content;
          justify-content: center;

          span {
            display: flex;
            align-items: center;
            justify-content: center;
          }
        }
      }

      .right {
        width: 30%;
        border-radius: 5px;
        aspect-ratio: 1;
        display: flex;
        align-items: center;
        justify-content: center;

        img {
          width: 100%;
          height: 100%;
          border-radius: 5px;
          object-fit: cover;
        }
      }
    }
  }
}

@media (max-width: 950px) {
  .owner-parent {
    .owner-cont {
      display: flex;
      gap: 20px;
      align-items: center;
      justify-content: center;

      .box-wrapper {
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
        width: 100%;

        .left {
          display: flex;
          gap: 10px;
          flex-direction: column;
          width: 100%;
          align-items: center;
          justify-content: center;

          h3 {
            font-size: 24px;
          }
          p {
            text-align: center;
          }
        }

        .right {
          width: 50%;
        }
      }
    }
  }
}
