.about-parent {
  height: 100svh;
  padding: 150px 0px;
  background: var(--white);

  .about-cont {
    display: flex;
    align-items: stretch;
    justify-content: center;
    gap: 20px;

    .left {
      width: 50%;
      padding: 10px;
      display: flex;
      flex-direction: column;
      gap: 20px;

      h3 {
        color: var(--blue);
      }

      p {
        color: rgba(12, 12, 12, 0.749);
      }
    }

    .right {
      width: 50%;
      padding: 10px;
      background: url("../../assets/about.jpg");
      border-radius: 8px;
      aspect-ratio: 3/1.8;
    }
  }
}



.owner-parent {

  padding: 150px 0px;
  background: linear-gradient(rgba(177, 177, 177, 0.314), rgba(177, 177, 177, 0.314)), url("../../assets/bg.webp");


  .owner-cont {
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: center;
    justify-content: center;

    .box-wrapper {
      background: var(--blue);
      border-radius: calc(var(--unit) * 1);
      display: flex;
      height: auto;
      justify-content: space-between;
      margin-top: calc(var(--unit) * 2);
      padding: calc(var(--unit) * 1);
      width: 900px;
      gap: 20px;

      .left {
        display: flex;
        gap: 20px;
        flex-direction: column;
        width: 70%;

        h3 {
          font-size: 30px;
          color: var(--green);
        }

        .button {
          align-items: center;
          background: #0077b5;
          border-radius: calc(var(--unit) / 4);
          color: var(--white);
          display: flex;
          font-size: 1.2rem;
          gap: calc(var(--unit) / 2);
          margin-top: calc(var(--unit) / 2);
          padding: calc(var(--unit) / 2);
          width: fit-content;
          justify-content: center;

          span {
            display: flex;
            align-items: center;
            justify-content: center;
          }
        }
      }

      .right {
        width: 30%;
        border-radius: 5px;
        aspect-ratio: 1;
        display: flex;
        align-items: center;
        justify-content: center;

        img{
          width: 100%;
          height: 100%;
          border-radius: 5px;
          object-fit: cover;
        }
        


      }

    }
  }
}