.download-parent {
  height: 100vh;

  background: #fff;
  position: relative;
  overflow: hidden;
}

/* Dotted background pattern */
.download-parent::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: radial-gradient(rgba(0, 0, 0, 0.06) 2px, transparent 1px);
  background-size: 22px 22px;
  opacity: 0.5;
  z-index: 0;
}

.download-cont {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 1;
}

.box-cont {
  background: #10253a;
  border-radius: 20px;
  padding: 48px 40px;
  width: 700px;
  max-width: 90vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 4px 32px 0 rgba(20, 33, 54, 0.1);
  gap: 16px;

  h3 {
    color: #fff;
    font-size: 2.5rem;
    font-weight: 700;
    margin-bottom: 12px;
    text-align: center;
  }
}

@media (max-width: 650px) {
  .download-parent {
  height: 0;
  padding: 200px 10px;

  background: #fff;
  position: relative;
  overflow: hidden;
}
  .box-cont {
    justify-content: center;
    text-align: center;
    gap: 10px;
    padding: 20px;

    h3 {
      color: #fff;
      font-size: 20px;
      font-weight: 700;
      margin-bottom: 12px;
      text-align: center;
    }
    p {
      font-size: 16px;
      line-height: 20px;
    }
  }
}
