.header-parent {
  background: var(--blue);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.366);
  height: calc(var(--unit) * 9 / 2);
  position: fixed !important;
  top: 0;
  z-index: 1000;


  .header-cont {
    align-items: center;
    display: flex;
    justify-content: space-between;

    .logo-icon {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 8px;

      img {
        height: 30px;
      }

      p {
        font-size: 18px;
        font-weight: 900;
      }
    }

    .menu {
      align-items: center;
      display: flex;
      gap: calc(var(--unit) * 2);

      a {
        color: var(--white);
        font-family: Archivo, sans-serif;
        font-size: 14.5px;
        font-weight: 600;
        line-height: 21px;
        position: relative;
        text-transform: uppercase;
        transition: var(--trans);

        &::after {
          content: "";
          display: block;
          height: 3px;
          width: 0%;
          margin: 6px 0 0 0;
          border-radius: 10px;
          background: var(--green);
          transition: var(--trans);
        }

        &.active::after {
          width: 100%;
        }
      }
    }
    .hamburger {
      display: none;

      .hamburger-react {
        color: white;
      }
    }
  }

  .mob_nav_section {
    display: none;
    width: 100%;
    height: calc(100vh - (var(--unit) * 9 / 2));
    position: absolute;
    top: 100%;
    left: 100%;
    background-color: var(--blue);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: var(--trans);

    &.active{
        left: 0;
    }

    .menu{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: var(--unit);
        height: 100%;

        a{
            color: white;
            font-size: calc(var(--unit) * 1.5);
            font-weight: 800;
        }
    }
  }
}

@media only screen and (max-width: 880px) {
  .header-parent {
    .header-cont {
      .menu {
        display: none;
      }

      .hamburger {
        display: block;
      }
    }

    .mob_nav_section{
        display: block;
    }
  }
}
