.footer-parent {
  margin: 50px 50px;
  .footer-cont {
    display: flex;
    gap: 10px;
    .logo {
      width: 20%;
      background: red;
      display: flex;
      flex-direction: column;
      gap: 20px;
    }
    .imp-links {
      width: 30%;
      background: red;
      display: flex;
      flex-direction: column;
      gap: 20px;
    }
    .other-links {
      background: red;
      display: flex;
      flex-direction: column;
      gap: 20px;
      width: 30%;
    }
    .contact {
      width: 20%;
      background: red;
      display: flex;
      flex-direction: column;
      gap: 20px;
    }

    .nav-menu {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
      a {
        text-decoration: none;
      }

      .about {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;

        span {
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }
    }
  }
}
