:root {
  --black: #000;
  --text: #363636b7;
  --white: #fff;
  --blue: #10253a;
  --green: #b4d628;
  --baiege: #fef7ef;
  --darkbaiege: #f2e7d9;
  --swl_d: 1200px;
  --lwl_d: 1400px;
  --trans: all 0.33s cubic-bezier(0.42, 0.97, 0.52, 1.49);
  --trans2: all 1s cubic-bezier(0.42, 0.97, 0.52, 1.49);
}

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  // border: 1px solid blue;
  font-family: "Inter", sans-serif;
}

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

body {
  width: 100vw;
  width: 100svw;
  overflow-x: hidden;
  min-height: 100vh;
  background-color: var(--baiege);
}

h1 {
  font-size: 45px;
}

h2 {
  font-size: 30px;
  // padding: 10px 0px;
}

h3 {
  font-size: 24px;
}

h1,
h2,
h3,
h4 {
  text-transform: capitalize !important
}

P {
  font-size: 16px;
  color: var(--text);
  font-weight: 400;
  line-height: 24px;
}

.parent {
  width: 100vw;
  height: auto;

  .container {
    height: 100%;
    max-width: var(--max-width);

    margin: auto;
    padding: 0px 10px;
    // overflow-x: hidden!important;
  }
}

.btn {
  text-decoration: none;
  color: var(--white);
  background: linear-gradient(90deg, var(--darkorange), red);
  cursor: pointer;
  padding: 10px 30px;
  border-radius: 100px;
  transition: var(--trans2);
  display: flex;
  align-items: center;
  gap: 5px;
  width: fit-content;
  border: none;

  &:hover {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.43);
    transform: scale(1.05);
    transition: var(--trans);
  }
}

.bg-img {
  background-position: center center !important;
  background-size: cover !important;
  background-repeat: no-repeat !important;
}

a {
  text-decoration: none;
}
