:root {
  --black: #000;
  --text: #363636b7;
  --white: #fff;
  --blue: #10253a;
  --green: #b4d628;
  --baiege: #fef7ef;
  --darkbaiege: #f2e7d9;
  --max-width: 1400px;
  --trans: all 0.33s cubic-bezier(0.42, 0.97, 0.52, 1.49);
  --trans2: all 1s cubic-bezier(0.42, 0.97, 0.52, 1.49);
  --unit: 16px;
  --shadow: 0px 0px 10px rgba(0, 0, 0, 0.123);

}

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  // border: 1px solid blue;
  font-family: "Inter", sans-serif;
}

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

body {
  width: 100vw;
  width: 100svw;
  overflow-x: hidden;
  min-height: 100vh;
  background-color: var(--white);
}

h1 {
  font-size: 45px;
}

h2 {
  font-size: 30px;
  // padding: 10px 0px;
}

h3 {
  font-size: 24px;
}

h1,
h2,
h3,
h4 {
  text-transform: capitalize !important
}

P {
  text-wrap: pretty;
  font-size: 1.2rem;
  font-weight: 300;
  letter-spacing: 1px;
  line-height: 160%;
  max-width: 65ch;
  word-spacing: 2px;
  color: var(--baiege);
}

.parent {
  width: 100vw;
  height: auto;

  .container {
    height: 100%;
    max-width: var(--max-width);

    margin: auto;
    padding: 0px 10px;
    // overflow-x: hidden!important;
  }
}

.btn {
  background: var(--green);
  border: none;
  border-radius: calc(var(--unit) / 3);
  cursor: pointer;
  font-size: 1.2rem;
  font-weight: 700;
  padding: 16px 32px;
  padding: calc(var(--unit)) calc(var(--unit) * 2);
  text-transform: uppercase;
  transition: var(--trans);
  width: fit-content;
  color: var(--accent) ;

  &:hover {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.43);
    transform: scale(1.05);
    transition: var(--trans);
  }
}

.bg-img-cover {
  background-position: center center !important;
  background-size: cover !important;
  background-repeat: no-repeat !important;
}

a {
  text-decoration: none;
}


.swiper-pagination .swiper-pagination-clickable .swiper-pagination-bullets .swiper-pagination-horizontal{
 background: var(--green);
  color: var(--green);
}


.swiper-pagination-bullet .swiper-pagination-bullet-active{
  background: var(--green);
  color: var(--green);

}

.swiper-pagination-bullet{
  background: var(--green);
  color: var(--green);

}